<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kyrs_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Kyrs_Project.Properties.Settings>
            <setting name="tempN" serializeAs="String">
                <value />
            </setting>
            <setting name="tempM" serializeAs="String">
                <value />
            </setting>
            <setting name="HMode" serializeAs="String">
                <value />
            </setting>
            <setting name="Melon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Meet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fish" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Chicken" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tentackle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BigFish" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Juice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Milk" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Soda" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TomatoSouce" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Yksys" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pineapple" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vegan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="proverka" serializeAs="String">
                <value />
            </setting>
        </Kyrs_Project.Properties.Settings>
    </userSettings>
</configuration>